.registerComponent {
    max-width: auto;
    max-height: auto;
    display: inline-block; 
    position: fixed;
    
}
.carouselComponent{
    max-width: 55%;
    min-width: 55%;
    display: inline-block; 
    margin: 25px;

    
}
.registerAndCarousel{
    
}